# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
ENV/
env/
.env

# Project Data
data/
data_test/
*.db
*.log

# Configuration
config.json

# User Specific
plan

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
